@charset "UTF-8";

.d-flex.flex-row {
	height: 1860px;
}

.message {
	color: red;
}

.form-control {
	width: 150px;
}

.btn.border.border-dark.mb-3.my-3 {
	color: white;
	background-color: cornflowerblue;
}